.ui-nav {
  overflow: hidden;
}

.ui-nav-item {
  float: left;
  height: 100px;
}

.ui-nav-item a {
  display: inline-block;
  padding: 30px;
  font-size: 16px;
  line-height: 40px;
  text-decoration: none;
}

.ui-nav-cur a {
  padding: 25px 30px 30px;
  color: #e4393c;
  border-top: 5px solid #e4393c;
}