/* Normalize Start */
html {
  font-size: 12px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
legend,
input,
select,
textarea {
  color: #333;
}

body {
  color: inherit;
  background: transparent;
}

html,
body,
legend,
input,
select,
button,
textarea {
  font: normal normal normal 8px "Microsoft YaHei", Arial, Helvetica, sans-serif, "ו";
}

body,
div,
header,
footer,
nav,
aside,
article,
section,
figure,
figcaption,
video,
audio,
embed,
mark,
summary,
progress,
canvas,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  _font-size: 12px;
}

td,
th {
  color: inherit;
  font-family: inherit;
}

fieldset,
img,
iframe {
  border: none;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul,
li {
  list-style: none;
}

header,
footer,
nav,
aside,
article,
section,
figure,
figcaption {
  display: block;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}

q:before,
q:after {
  content: '';
}

pre {
  white-space: pre-wrap;
}

small {
  font-size: 0.8em;
}

mark {
  background: #ff0;
  color: #000;
}

abbr[title] {
  border-bottom: 1px dotted;
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup,
sub {
  font-size: 0.75em;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

button,
select {
  text-transform: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  line-height: 1.2;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

textarea {
  overflow-x: hidden;
  overflow-y: auto;
  vertical-align: top;
  resize: none;
}

input[type='checkbox'],
input[type='radio'] {
  width: auto;
  vertical-align: middle;
}

.button,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

label {
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  /* For IE10+ */
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

a {
  color: #666666;
  text-decoration: none;
  background: transparent;/* For IE10+ */

}

a:hover {
  color: #e4393c;
  text-decoration: underline;
}

a:focus {
  outline: none;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: inherit;
}

::-webkit-input-placeholder {
  color: #AAA;
  opacity: 1;
}

::-moz-placeholder {
  color: #AAA;
  opacity: 1;
  /* For Firefox */
}

:-ms-input-placeholder {
  color: #AAA;
  opacity: 1;
}

::selection,
::-moz-selection {
  background: inherit;
  color: white;
}

/* Firefox for button vertical center */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
  padding: 0;
}

/*Webkit*/
::-webkit-file-upload-button {
  height: 100%;
}