.ui-search{
	width: 214px;
	display: table;
	position: relative;
}
.ui-search-ipt{
	position: relative;
	height: 32px;
	line-height: 32px;
	width: 162px;
	padding: 0px 12px;
	display: table-cell;
	border: none;
	border-radius: 6px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.ui-search-btn {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 32px;
	height: 32px;
	border: none;
	cursor: pointer;
	border-radius: 6px;
	display: table-cell;
	background-color: white;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.ui-search-btn:after{
	position: relative;
	top: 1px;
	left: 1px;
	width: 15px;
	height: 17px;
	content: ' ';
	display: inline-block;
	background: url("./icon/magnifier.png") no-repeat;
}