/*float*/
.fl {
	float: left;
}

.fr {
	float: right;
}

.fc {
	margin-left: auto;
	margin-right: auto;
}

.clearfix{
	clear: left;
}
/*layout*/
.warp {
	width: 1000px;
}

/*display*/
.hide {
	display: none;
}


