
.nav-warp {
	float: left;
	margin-left: 36px;
}

.notice {
	background-color: #ffffff;
	height: 42px;
	line-height: 42px;
}

.notice .msg-list {
	height: 42px;
	width: 900px;
	display: inline-block;
	overflow: hidden;
}

.notice .btn-close{
	display: inline-block;
}