.ui-nav {
  overflow: hidden;
	font-size: 16px;
	line-height: 60px;
  font-family: "Microsoft YaHei", tahoma, arial, SimSun;
}

.ui-nav-item {
	float: left;
}

.ui-nav-item:not(:first-child) {
	margin-left: 12px;
}
.ui-nav-item a {
	display: inline-block;
	width: 76px;
	color: #ffffff;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
}
.ui-nav-item a:hover{
	background-color: #B81414;
}
.ui-nav-cur a {
	width: 76px;
	color: #ffffff;
	border-top: 5px solid #e4393c;
}