.nav {
	line-height: 60px;
	font-size: 16px;
}

.nav .item {
	text-align: center;
	width: 76px;
	cursor: pointer;
}
.nav .dropdown{
	position: relative;
}
.nav .dropdown:after {
	position: absolute;
	top: 28px;
	left: 58px;
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0;
	border-width: 5px;
	border-style: solid dashed dashed dashed;
	border-color: #ffffff transparent transparent transparent;
	border-bottom: none;
	content: ' ';
}

.nav .item:not(:first-child) {
	margin-left: 12px;
}

.nav .dropdown .con {
	z-index: 100;
	position: absolute;
	top: 52px;
	left: -20px;
}
.nav .dropdown .pt1 {
	height: 8px;
}
.nav .dropdown .pt2 {
	text-align: center;
	width: 120px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
}
.nav .dropdown .pt2 li {
	color: #666666;
	height: 30px;
	line-height: 30px;
}
.nav .dropdown .pt2 a {
	color: #666666;
}
.nav a {
	color: #ffffff;
}

.nav a:hover {
	text-decoration: none;
}

.nav .item:hover {
	background-color: #B81414;
}

.nav .curr {
	background-color: #B81414;
}