/*
 * @description the public css for home module
 * @author yajie
 * @version 1.0
 */
body {
  font-size: 12px;
  color: #666;
}

a {
  color: #666;
}

a:hover {
  color: #e4393c;
  text-decoration: none;
}

input,
button {
  overflow: visible;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #a3a3a3;
  font-size: 14px;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #a3a3a3;
  font-size: 14px;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #a3a3a3;
  font-size: 14px;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #a3a3a3;
  font-size: 14px;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix {
  *zoom: 1;
}

.row {
  width: 1000px;
  margin: 0 auto;
}

.show {
  display: block;
}

.hide {
  display: none !important;
}

/* 定位 */
.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.fl, .fr{
  _display: inline;
}

/* 文本对齐方式 */
.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

/* 字体大小 */
.fz-14 {
  font-size: 14px;
}

.fz-16 {
  font-size: 16px;
}

.fz-18 {
  font-size: 18px;
}

.fz-20 {
  font-size: 20px;
}

.fz-24 {
  font-size: 24px;
}

/* 字体颜色 */
.fc-3 {
  color: #333;
}

.fc-7 {
  color: #777;
}

.fc-9 {
  color: #999;
}

.fc-red {
  color: #e4393c;
}

/* 行高 */
.lh-20 {
  line-height: 20px;
}

.lh-24 {
  line-height: 24px;
}

.lh-30 {
  line-height: 30px;
}

/* 背景颜色 */
.bg-white {
  background: #fff;
}

.bg-f0 {
  background: #f0f0f0;
}

.bg-f3 {
  background: #f3f3f3;
}

/* 边框 */
.bd-e6 {
  border-bottom: 1px solid #e6e6e6;
}

/* 外边距 */
.mb5 {
  margin-bottom: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.mr20 {
  margin-right: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

/* 内边距 */
.pt10 {
  padding-top: 10px;
}

.va-m {
  vertical-align: middle;
}

.lk-red {
  color: #e4393c;
}
.lk-red:hover {
  text-decoration: underline;
}

/* 图片替换文字 or 隐藏文字 */
.ti{
  text-indent: -999em;
  overflow: hidden;
  zoom: 1;
}

/* 按钮 */
.btn-negative {
  display: inline-block;
  width: 120px;
  padding: 6px 0 7px;
  text-align: center;
  color: #e4393c;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #e4393c;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  outline: none;
}

.btn-negative:hover {
  color: #fff;
  background: #e4393c;
}

.btn-fill-negative {
  background-color: #e4393c;
  color: #fff;
}

.btn-fill-negative:hover {
  background-color: #ce1c1f;
}