/*
 * @description the public css for home module
 * @author yajie
 * @version 1.0
 */
body {
  font-size: 12px;
  color: #666;
}

a {
  color: #666;
}

a:hover {
  color: #e4393c;
  text-decoration: none;
}

input,
button {
  overflow: visible;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #a3a3a3;
  font-size: 14px;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #a3a3a3;
  font-size: 14px;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #a3a3a3;
  font-size: 14px;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #a3a3a3;
  font-size: 14px;
}


/* 图片替换文字 or 隐藏文字 */
.ti{
  text-indent: -999em;
  overflow: hidden;
  zoom: 1;
}

/* 按钮 */
.btn-negative {
  display: inline-block;
  width: 120px;
  padding: 6px 0 7px;
  text-align: center;
  color: #e4393c;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #e4393c;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  outline: none;
}

.btn-negative:hover {
  color: #fff;
  background: #e4393c;
}

.btn-fill-negative {
  background-color: #e4393c;
  color: #fff;
}

.btn-fill-negative:hover {
  background-color: #ce1c1f;
}