.slider {
  overflow: hidden;
  width: 100%;
}
.slider .i {
  width: 100%;
  height: 480px;
  background-repeat: no-repeat;
  background-position: center 0;
}
.slider .index {
  position: relative;
}
.slider .index .con {
  position: absolute;
  left: 50%;
  bottom: 0px;
  padding: 15px;
}
.slider .index li {
  float: left;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 2px 4px;
  cursor: pointer;
  overflow: hidden;
  background: url("http://images.hzins.com/short/lmimg/ico.png") no-repeat;
  _background: url("http://images.hzins.com/short/lmimg/ico.gif") no-repeat;
}
.slider .index li.on {
  background-position: 0 0px;
}
.slider .index li.off {
  background-position: 0 -12px;
}

