.nav {
  margin-left: 36px;
  line-height: 60px;
  font-size: 16px;
  font-family: "Microsoft YaHei", tahoma, arial, SimSun;
}

.nav .item {
  text-align: center;
  width: 76px;
  cursor: pointer;
}
.nav a{
  color: #ffffff;
}
.nav a:hover{
  text-decoration: none;
}
.nav .item:hover {
  background-color: #B81414;
}
.nav .curr {
  background-color: #B81414;
}